body {
  background-image: url("darkness.png");
  font-family: Didot, Palatino, "Palatino Linotype", "Palatino", "Palatino LT STD", Georgia, serif;
  color: white;
}

.card-text {
  color: green;
}

/*.card-top-spacing {
  padding-top: 10px;
}

*/
